@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gravitas+One&family=Lobster&display=swap');

/*ESTILO GERAAAAAL*/
* {
    box-sizing: border-box;
    /* padrao*/
}

body {
    margin: 0;
    /*padrao*/
}

.navbar {
    display: flex;
    /*alinha o menu*/
    flex-flow: row wrap;
    /*em linha e ficar dentro do "espaco determinado"*/
    height: 100px;
    /*altura*/
    background-color: cadetblue;
    justify-content: center;
    /*centralizar div logo e menu*/
    align-items: center;
    /*centralizar div logo e menu*/
    position: fixed;
    width: 100%;
}

.logo {
    margin-left: 10%;
    flex: 20%;
    /*display tipo flex, ir testando ate chegar no tamanho que eu quero*/
    /* border: 1px solid red; */
    /*so para vizualizar como esta ficando, tela cheia*/
    text-align: center;
    /*centralizar texto da div*/

}

.logo h1 {
    font-family: "Gravitas One", serif;
    /*fonte do titulo*/
    color: antiquewhite;
    font-weight: 40;
    font-style: normal;

}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
    /*preencher*/
}

.menu a {
    /*estilizar os links do menu*/
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    /*ir testando pra ver*/
}

.menu a:hover {
    font-size: 21px;
    color: rgb(7, 78, 79);
    border-top: 4px solid rgb(7, 78, 79);
    /*borda de cima no menu*/
}

#botao {
    /*id para dar prioridade ao que esta no body, pra nao pegar parametros nav e menu*/
    background-color: rgb(7, 78, 79);
    padding: 10px 25px;
    color: antiquewhite;
    border-radius: 5px;

}

footer {
    padding-top: 2%;
    text-align: center;
    color: antiquewhite;
    margin-top: 100px;
    height: 200px;
    background-image: linear-gradient(180deg, #46b8ba, rgb(7, 78, 79));
}

.whatsapp {
    position: fixed;
    bottom: 5px;
    right: 5px;

}

/*GERAAAAAL*/

/*INICIO ESTILO DROPDOWN*/

.dropdown {
    position: relative;
}

.drop-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
}

.dropdown:hover .drop-menu {
    display: block;
}

.drop-menu a {
    display: block;
    color: antiquewhite;
    background-color: rgb(7, 78, 79);
    padding: 10px 10px;
    text-decoration: none;
}

.drop-menu a:hover {
    background-color: cadetblue;
}

/*FINAL ESTILO DROPDOWN*/

/*mostra o menu quando clica*/
.menu-toggle:checked+.hamburguer+.menu {
    display: flex;
}

/*icone hamburguer */
.hamburguer {
    display: block;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /*alinhar conteudo do headline*/
    align-items: center;
    height: auto;
    /*para se adaptar ao tamanhos dos blocos de dentro*/
    background-color: rgb(240, 229, 244);
    /*so para enxergar a area que eu to mexendo*/
    padding: 100px;
}

/*os blocos tem que formar 100%*/
.headline {
    margin-left: 10%;
    /*espaçamento padrao do site*/
    flex: 40%;
    /* border: 1px solid burlywood; */
    /*so para ver o tamanho*/
}

.headline h2 {
    font-weight: 800;
    font-size: 20px;
    color: cadetblue;
    padding: 0;
    margin: 0;
}

.headline p {
    color: rgb(3, 45, 41);
    text-align: left;
}

.headline a {
    display: inline-block;
    /*para trocar o display padrao e afsatar um pouco no texto em cima*/
    background-color: rgb(7, 78, 79);
    padding: 10px 25px;
    color: antiquewhite;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.headline a:hover {
    background-color: antiquewhite;
    color: rgb(7, 78, 79);
    cursor: pointer;
    border: 1px solid rgb(7, 78, 79);
}

.img-headline {
    padding: 3%;
    margin-right: 1%;
    /*padrao do site*/
    flex: 49%;
    /* border: 1px solid navy; */
    text-align: center;
    /*alinhar a imagem ao tamanho do bloco header*/
}

section {
    display: inline-block;
    /*nao tem necessidade ser ser flex, itens simples*/
    /* border: 2px solid black; */
    margin-top: 80px;
    /*espacamento pra baixo do header*/
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 5%;
    text-align: center;
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Gravitas One", serif;
    color: rgb(7, 78, 79);
}

.nos-move {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    /*30% e 1% pq cada card vai ocupar 33%, totalizando 99% de tela*/
    padding: 20px;
    margin: 1%;
    border: 1px solid rgb(7, 78, 79);
    border-radius: 10px;
}

.card:hover {
    background-color: rgb(7, 78, 79);
    color: antiquewhite;
    padding: 3%;
}